
body{
  margin: 0px;
  padding: 0px;
}

.pesquisa{
  width: 45% !important;
}

.quebra-linha{
  display: inline !important;
}

.logo-menu{
  margin-left: 5px;
}

.login-botao{
  color: white !important;
}

#divBusca{
  background-color:#FFFFFF;
  border:solid 1px;  
  width:500px;
  height: 35px;
}
 
#txtBusca{
  float:left;  
  padding-left:5px;
  background-color:transparent;    
  font-size:18px;
  border:none;
  height:32px;
  
}

#btnBusca{
  float: right;
  height: 30px;
  margin-top: 2.4px;

}


.sub-menu{
  height: 25px;
  background-color: white;
  width: 100%;  
}

.float-right{
  float: right;
  
}

.link-submenu{
  text-decoration:none; 
  color: black
}