@media screen and (max-width:577px)
{    
    .esconder{
    	display: none !important;
    }

    .cadastros{
    	width: 70%;
    	font-size: 15.5px;
    }

    .icons-cart{
    	width: 30%;
    	float: right;
    	margin-right: 5px;
    }
}
